:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-akshar: 'Akshar', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-hind), var(--font-poppins), var(--font-akshar), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #f0f4f8;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}