:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-akshar: 'Akshar', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-akshar), var(--font-poppins), sans-serif;
  background-color: #f0f4f8;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}
